<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" href="/stylesheets/basic.css">
    <link rel="stylesheet" href="/stylesheets/create.css">
</head>
<body>
    <div class="header">
        注册
    </div>
    <form class="form" action="/reg" method="post">
        <p>用户名: </p><input type="text" name="name"><br>
        <p>密码: </p><input type="password" name="password"><br>
        <button>点击注册</button>
    </form>

</body>
</html>